* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  overflow: hidden;
}

.container {
  background-color: #e3ce34;
  min-height: 100vh;
  width: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container .up-container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.up-container .lines-cirlce-box {
  position: absolute;
  top: -105px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  width: 220px;
  z-index: 1;
}

.lines-cirlce-box .middle-circle {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #cf0a0a;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}
.lines-cirlce-box .middle-circle p {
  font-size: 14px;
}
.lines-cirlce-box .middle-circle span {
  font-size: 20px;
  margin-top: 5px;
}

.middle-circle .start-suffle-second-element {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: black;
  display: none;
  justify-content: center;
  align-items: center;
}

.lines-cirlce-box .lines {
  position: absolute;
}

.box-top {
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #1d3dcb;
  z-index: 1;
  top: -75px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  overflow: hidden;
}

.box-right {
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #1d3dcb;
  z-index: 1;
  right: -60px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  overflow: hidden;
}
.box-right-top {
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #1d3dcb;
  z-index: 1;
  right: -30px;
  top: -35px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  overflow: hidden;
}
.box-right-bottom {
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #1d3dcb;
  z-index: 1;
  right: -35px;
  bottom: -30px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  overflow: hidden;
}

.box-left {
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #1d3dcb;
  z-index: 1;
  left: -60px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  overflow: hidden;
}
.box-left-top {
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #1d3dcb;
  z-index: 1;
  left: -30px;
  top: -35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  overflow: hidden;
}
.box-left-bottom {
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #1d3dcb;
  z-index: 1;
  left: -35px;
  bottom: -30px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  overflow: hidden;
}
.box-bottom {
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #1d3dcb;
  z-index: 1;
  bottom: -75px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  overflow: hidden;
}

.icon {
  font-size: 16px;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(26, 25, 25, 0.389);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  display: none;
}

.piller-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.betting-amount-wrapper {
  height: 100px;
  width: 90%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.amount-box {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.amount-box img {
  width: 60px;
}

.amount-box-active {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  background-color: #be0813;
  cursor: pointer;
}

.icon-betting-amount {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 11px;
  height: 50%;
  padding-top: 5px;
}

.betting-multiply-amount {
  font-size: 12px;
  height: 50%;
  background-color: #74b2c8;
  width: 100%;
  border-radius: 0 0 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 100%;
  background-color: #be0813;
  padding-top: 10px;
}

.result-box {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  background-color: #cf3a40;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.results {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(8, 1fr);
  padding-left: 10px;
}

.scores-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 10px;
}

.total-coin,
.winning-coin {
  background-color: #fff;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 49%;
  text-align: center;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .container {
    background-color: #e3ce34;
    width: 100%;
  }
}
